@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  /* font-family: Ubuntu, sans-serif; */
  font-family: "Righteous", cursive;
  cursor: default;
}
a {
  text-decoration: none;
  cursor: pointer;
}
header {
  position: sticky;
}
nav {
  position: sticky;
  height: 65px;
  background: rgb(247, 241, 241);
  display: flex;
  align-items: center;
}
header nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -5px 0 -6px 25px;
  cursor: pointer;
}
header nav div img {
  height: 60px;
  border-radius: 100%;
  margin-right: 15px;
  cursor: pointer;
}
.logo p {
  cursor: pointer;
  font-family: Narkisim, sans-serif;
  font-size: 20px;
}
header nav ul {
  display: flex;
  list-style: none;
  width: 72vw;
  justify-content: flex-end;
  align-items: center;
}
header nav ul li {
  padding: 0 20px 0 20px;
  margin: 0 5px;
}
header nav .signin {
  margin-left: 30px;
}
.signin-btn-text {
  color: black;
}

nav .btn {
  background-color: rgb(238, 238, 70);
  width: 120px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  transition-duration: 0.4s;
}
nav .btn:hover {
  color: rgb(226, 67, 27);
  transition: 0.4s;
}
header nav a {
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.4s;
}
header nav a:hover {
  color: rgb(226, 67, 27);
  transition: 0.4s;
}

/* ---------Banner part---------- */
.top-container {
  display: flex;
  background: no-repeat url(../images/banner.jpg);
  height: 100vh;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Righteous", cursive;
}
.top-container h1 {
  font-size: 50px;
  margin-bottom: 40px;
}
.top-container h2 {
  font-size: 35px;
  margin-bottom: 10px;
}
.third-line {
  color: rgb(231, 47, 1);
  margin-bottom: 50px;
}
.top-container p {
  font: 130% "Nunito Sans", sans-serif;
  line-height: 30px;
}
.first-para {
  margin-top: 20px;
}
.second-para {
  margin-bottom: 60px;
}
.main-btn {
  background: white;
  width: 200px;
  height: 60px;
  border: none;
  transition-duration: 0.6s;
  cursor: pointer;
}
.main-btn a {
  color: black;
  font-size: 18px;
}
.main-btn:hover {
  border-radius: 25px;
  background: rgb(238, 238, 70);
  transition: 0.6s;
}
.middle-container {
  margin-top: 30px;
  font-family: "Righteous", cursive;
}
.mid-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mid-contents h1 {
  margin: 10px 0 15px 0;
  font-size: 50px;
}
.mid-contents p {
  font: 130% "Nunito Sans", sans-serif;
}
.image-section {
  display: flex;
  flex-direction: row;
  width: 95vw;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 75px;
}
.image-section img {
  width: 300px;
}
.product-names {
  background: rgb(238, 238, 70);
  height: 65px;
  margin: 20px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.form-container {
  background: url(../images/formpic.jpg);
  width: 98.75vw;
  height: 111vh;
  background-repeat: no-repeat;
  position: relative;
}
.form {
  background: white;
  height: 85vh;
  width: 500px;
  position: absolute;
  top: 85px;
  left: 50px;
}
.form-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-h3 {
  text-align: center;
  margin: 20px 0 20px 0;
  line-height: 30px;
  font: 130% "Nunito Sans", sans-serif;
}
#software,
#language,
#price {
  margin: 15px;
  width: 80%;
  height: 50px;
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  border: 1px solid black;
  opacity: 0.6;
}
#search {
  margin: 15px;
  width: 80%;
  height: 50px;
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.658);
  opacity: 1;
  transition-duration: 0.4s;
}
#software:hover,
#language:hover,
#search:hover,
#price:hover {
  opacity: 1;
  transition: 0.4s;
}
#submit {
  margin-top: 40px;
  color: white;
  background: black;
  width: 50%;
  height: 50px;
  font: 130% "Nunito Sans", sans-serif;
  cursor: pointer;
  border: 2px solid black;
  transition-duration: 0.4s;
  border-radius: 5px;
}
#submit:hover {
  color: black;
  width: 49%;
  height: 47px;
  border-radius: 10px;
  background: white;
  font-size: 127%;
  transition: 0.4s;
}
.bottom-container {
  height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 100px;
  line-height: 25px;
}
.bottom-container h1 {
  font-size: 50px;
}
.bottom-container p {
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  margin: 10px 0;
}
.circle {
  width: 75px;
  height: 75px;
  color: white;
  background: rgb(48, 46, 46);
  border-radius: 100%;
  border: 5px solid rgb(238, 238, 70);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#container {
  width: 100%;
  height: 100vh;
  background: rgb(48, 46, 46);
  position: relative;
}
#container h1 {
  color: white;
  text-align: center;
  font-size: 45px;
  padding-top: 25px;
}
.view-box {
  width: 900px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#testimonials {
  display: flex;
}
.user {
  width: 900px;
  text-align: center;
  padding: 20px 70px;
  box-sizing: border-box;
  background: rgb(255, 249, 249);
  border-radius: 100px;
  box-shadow: 0 10px 20px -5px rgb(48, 46, 46);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.space {
  margin: 0 70px;
}
.user .profile-pic {
  width: 180px;
  position: relative;
  top: -10px;
}
.profile h4 {
  color: black;
  font-size: 20px;
  margin-top: 10px;
}
.profile h5 {
  margin-top: 5px;
  color: black;
  font-size: 18px;
}
.user p {
  font-size: 20px;
  color: black;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 40px;
  font-family: "Nunito Sans", sans-serif;
}
.comma {
  width: 50px;
}
.controls {
  display: flex;
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%);
}
.controls span {
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 15px;
  margin: 0 5px;
  cursor: pointer;
}
.active {
  width: 45px !important;
}
.bottom-container1 {
  height: 50vh;
  text-align: center;
}
.bottom-container1 h1 {
  font-size: 60px;
  color: rgb(48, 46, 46);
  font-family: Narkisim, sans-serif;
}
.bottom-container1 h2 {
  font-size: 35px;
  color: rgb(48, 46, 46);
  margin: 30px 0;
}
.bottom-container1 h2 span {
  color: rgb(190, 190, 18);
}
footer {
  height: 40px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
}
